dbpath=F:\LMS\zhufeng\MongoDB\data 
logpath=F:\LMS\zhufeng\MongoDB\dblog
#auth=true      #以安全的方式启动数据库 (需输入账号跟密码)
#fork=true      #以后台守护的方式进行启动（可以关闭黑窗口,注意在window下面要先添加服务）
journal=true    #启用日志文件，默认启用
quiet=true      #过滤无用的日志信息，如需要调式需设为false
port=27017      #端口号，默认27017



# 使用方法   mongod --config mongo.config